/* Font - Manropew */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: var(--FontColor);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    background-color: var(--PageBackground);
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 54rem;
    justify-content: center;
    text-align: center;
    border-radius: 2rem;
    margin: 2rem;
    padding: 5rem 4rem;
    gap: 2.5rem;

    background-color: var(--CardBackground);
    box-shadow: 0 0rem 1.5rem -1rem var(--CardShadow);
    font-size: 2.8rem;

    position: relative;
}
@media (max-width: 530px) { /* Card Responsivity Adjustment */
    #card {
        padding: 5rem 2rem;
        font-size: 2.4rem;
    }
}
#card #advice-ID {
    color: var(--PrimaryColor);
    text-transform: uppercase;
    letter-spacing: 0.41rem;
    font-size: 1.2rem;
}
#card #advice-section {
    padding-bottom: 1.5rem;
}
#card picture img {
    width: 100%;
    padding-bottom: 1rem;
}
#card #diceButton {
    position: absolute;
    padding: 2rem;
    border: none;
    border-radius: 50%;
    background-color: var(--PrimaryColor);
    bottom: -3.5rem;

    cursor: pointer;
}
#card #diceButton:hover {
    box-shadow: 0 0 4rem hsla(150, 100%, 66%, 0.8);
    transition: 0.2s ease-in-out;
}

.attribution { 
    position: absolute;
    bottom: 2rem;
    font-size: 1.1rem; 
    text-align: center; 
    padding: 2rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.attribution a:hover { 
    color: hsl(228, 53%, 59%); 
}