:root {
    /* ## Colors */
    /* ### Primary */

    --FontColor: hsl(193, 38%, 86%);
    --PrimaryColor: hsl(150, 100%, 66%);
    --loading1: hsl(150, 100%, 66%);
    --loading2: hsla(150, 100%, 66%, 0.7);
    --loading3: hsla(150, 100%, 66%, 0.4);

    /* ### Neutral */

    --CardShadow: hsl(217, 19%, 38%);
    --CardBackground: hsl(217, 19%, 24%);
    --PageBackground: hsl(218, 23%, 16%);
}